<% if(user) { %>

  <div class="containerData">

    <h1>Informations personnelles</h1>
    
    <h2> <span class="spanInfo">Prénom : </span> <%= user.prenom %></h2>   
    <h2> <span class="spanInfo">Nom : </span> <%= user.nom %></h2>     
    <h2> <span class="spanInfo">Classe : </span> <%= user.classe %></h2>     
    <h2> <span class="spanInfo">Card Tag : </span> <%= user.utag %></h2>      

  </div>

  <a href="/users/<%= user._id %>" class="btn"> Json personal info</a>

  <!-- faire comme users.ejs reder direct depuis authcontroler et compare la socket avec le tag enregistrer de la personne et send back direct sur l'ardduino la res avec les meme donnée -->
  <!-- sinon renvoyé un text bateau -->
 
  <%}else{%>

    <h1>Informations personnelles</h1>

    <h2> <span class="spanInfo"> VIDE </span></h2>   

  <%}%>