  
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGGER</title>
    <link rel="stylesheet" href="./styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
   
  </head>
 
  <body>
    <nav>
      <h1><a href="/">JEECE LOGGER</a></h1>
      <ul>
        <% if(user) { %>
          
        <li id="name">Welcome, <%= user.prenom %> <%= user.nom %></li>
        <div id="test"></div>
        <li> <a href="/logout">Log out</a></li>
       
        <%}else{%>

        <li> <a href="/login">Log in</a></li>
        <li> <a href="/signup" class="btn">Sign up</a></li>
        <%}%>

      
      </ul>
    </nav>