<%- include('./partials/head'); -%>
<script>
  var socket = io();
  socket.on("data", function (data) {
    console.log(data);
    document.getElementById("uTag").innerHTML = data;
  });

</script>

<div id="container">
  <div class="tag">
    <h1 id="uTag">XXXXXXXX</h1>
  </div>
</div>

<%- include('partials/dataUser'); -%>

<%- include('./partials/footer'); -%>


<!-- <script>


try{
      const res = await fetch('/users', {
        method: 'GET',
        body: JSON.stringify({email: email, password: password, nom: nom, prenom: prenom, classe: classe, utag: utag}),
        headers: {'Content-Type': 'application/json'}
      });
      const data = await res.json();
      console.log(data);
      if(data.errors){
        emailError.textContent = data.errors.email;
        passwordError.textContent = data.errors.password;
      }
      if(data.user){
        location.assign('/users');
      }
    }catch(err){
        console.log(err);
    }

</script> -->