<%- include('partials/head'); -%>

<script>
  var socket = io();
  socket.on("data", async function (data) {

    var alexandre = "16D06135";
    var prof = "179DF63A";
    var adrien = "B66269AF";
    var roxane = "4513B81B";
    var escalade = "FDC44B13";

    console.log("compare string: " + alexandre.localeCompare(data));
    console.log("compare string: " + prof.localeCompare(data));
    console.log("compare string: " + adrien.localeCompare(data));
    console.log("compare string: " + roxane.localeCompare(data));


    document.getElementById("uTag").innerHTML = data;
    // 0 <=> meme chaine       -1 <=> chaine différente
    if (alexandre.localeCompare(data) == 0 || prof.localeCompare(data) == 0|| adrien.localeCompare(data) == 0 || roxane.localeCompare(data) == 0 || escalade.localeCompare(data) == 0) {
      document.getElementById("container").style.cssText =
        "background: rgba(31, 172, 3, 0.2); box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); backdrop-filter: blur( 4px );  -webkit-backdrop-filter: blur( 4px );";
    } else {
      document.getElementById("uTag").innerHTML = data;
      document.getElementById("container").style.cssText =
        "background: rgba(165, 3, 3, 0.2); box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); backdrop-filter: blur( 4px );  -webkit-backdrop-filter: blur( 4px );";
    }
  });

</script>

<header>
  <div class="controlPanel">
    <img src="/JEECE.png" alt="jeece" />
  </div>

  <div class="headingd">
    <h2>BackOFFICE CONTROL</h2>
    <h3>By SE TEAM</h3>

    <% if(user) { %> 
        <!-- <p><%= user.prenom %></p> -->
        <!-- <% name(user.prenom)%> 
        <% function name(nom) { 
          console.log(nom);  
        } %>  -->
    <a href="/controlPanel" class="btn"> Personal acces</a>
    <a href="/users" class="btn"> View board of directors</a>
    <%}else{%>
    <a href="/controlPanel" class="btn"> Personal access</a>

    <%}%>
  </div>
</header>

<div id="container">
  <div class="tag">
    <h1 id="uTag">XXXXXXXX</h1>
  </div>
</div>

<%- include('partials/footer'); -%>

<div id="background-wrap">
  <div class="bubble x1"></div>
  <div class="bubble x2"></div>
  <div class="bubble x3"></div>
  <div class="bubble x4"></div>
  <div class="bubble x5"></div>
  <div class="bubble x6"></div>
  <div class="bubble x7"></div>
  <div class="bubble x8"></div>
  <div class="bubble x9"></div>
  <div class="bubble x10"></div>
</div>
