<%- include('partials/head'); -%>

<form action="">

  <h2>Login</h2>
  <label for="email">Email</label>
  <input type="text" name="email" required>
  <div class="error email"></div>

  <label for="password">Password</label>
  <input type="password" name="password" required>
  <div class="error password"></div>

  <button>Login</button>

</form>

<script>
  const form = document.querySelector('form');

   //display error messages when there is error
   const emailError = document.querySelector('.email.error');
  const passwordError = document.querySelector('.password.error');

  form.addEventListener('submit', async (e)=>{

    e.preventDefault();

    //reset error
    emailError.textContent = '';
    passwordError.textContent = '';

    //get the values
    const email = form.email.value;
    const password = form.password.value;

    try{
      const res = await fetch('/login', {
        method: 'POST',
        body: JSON.stringify({email: email, password: password}),
        headers: {'Content-Type': 'application/json'}
      });
      const data = await res.json();
      console.log(data);
      if(data.errors){
        emailError.textContent = data.errors.email;
        passwordError.textContent = data.errors.password;
      }
      if(data.user){
        location.assign('/');
      }
    }catch(err){
        console.log(err);
    }

  });
</script>

<%- include('partials/footer'); -%>
