<%- include('partials/head'); -%>

<form action="">

  <h2>Signup</h2>

  <label for="prenom">Prénom</label>
  <input type="text" name="prenom" required>
  <div class="error prenom"></div>

  <label for="nom">Nom</label>
  <input type="text" name="nom" required>
  <div class="error nom"></div>

  <label for="classe">Classe</label>
  <input type="text" name="classe" required>
  <div class="error classe"></div>

  <label for="utag">Tag</label>
  <input type="text" name="utag" required>
  <div class="error utag"></div>

  <label for="email">Email</label>
  <input type="text" name="email" required>
  <div class="error email"></div>

  <label for="password">Password</label>
  <input type="password" name="password" required>
  <div class="error password"></div>

  <button>Sign up</button>

</form>

<script>
  const form = document.querySelector('form');

  //display error messages when there is error
  const emailError = document.querySelector('.email.error');
  const passwordError = document.querySelector('.password.error');

  form.addEventListener('submit', async (e)=>{
    e.preventDefault();

    //reset error
    emailError.textContent = '';
    passwordError.textContent = '';

    //get the values
    const email = form.email.value;
    const password = form.password.value;
    const nom = form.nom.value;
    const prenom = form.prenom.value;
    const classe = form.classe.value;
    const utag = form.utag.value;


    try{
      const res = await fetch('/signup', {
        method: 'POST',
        body: JSON.stringify({email: email, password: password, nom: nom, prenom: prenom, classe: classe, utag: utag}),
        headers: {'Content-Type': 'application/json'}
      });
      const data = await res.json();
      console.log(data);
      if(data.errors){
        emailError.textContent = data.errors.email;
        passwordError.textContent = data.errors.password;
      }
      if(data.user){
        location.assign('/');
      }
    }catch(err){
        console.log(err);
    }
  });
</script>

<%- include('partials/footer'); -%>
