<%- include('partials/head'); -%>
<!-- <script>
  
</script> -->


<% if(user.utag == "16D06135"){ %>
          

  <h1>All register</h1>
<br />
<% for (var i = 0; i < data.length; i++) {%>
<h2><span class="spanInfo">Prénom : </span> <%= data[i].prenom %></h2>
<h2><span class="spanInfo">Nom : </span> <%= data[i].nom %></h2>
<h2><span class="spanInfo">Classe : </span> <%= data[i].classe %></h2>
<h2><span class="spanInfo">Card Tag : </span> <%= data[i].utag %></h2>
<h2><span class="spanInfo">ID : </span> <%= data[i]._id %></h2>
<br />
<br />
<%}%>

<h1>Register in ing4</h1>
<br />
<br />
<% for (var i = 0; i < data.length; i++) {%>

  <% if(data[i].classe == "ing4"){ %>
  <h2><span class="spanInfo">Prénom : </span> <%= data[i].prenom %></h2>
  <h2><span class="spanInfo">Nom : </span> <%= data[i].nom %></h2>
  <h2><span class="spanInfo">Classe : </span> <%= data[i].classe %></h2>
  <h2><span class="spanInfo">Card Tag : </span> <%= data[i].utag %></h2>
  <h2><span class="spanInfo">ID : </span> <%= data[i]._id %></h2>
  <br />
  <br />
  <%}%>
  <%}%>
  <%}else{%>

    <h1>No access</h1>
 
  <%}%>



<%- include('partials/footer'); -%>
